<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>piweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
 <servlet-name>Jersey REST Service</servlet-name>
 <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
 <init-param>
 <param-name>jersey.config.server.provider.packages</param-name>
 <param-value>online.blickle.pi.resource</param-value>
 </init-param>
 <init-param>
 <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
 <param-value>true</param-value>
 </init-param>
 <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
 <servlet-name>Jersey REST Service</servlet-name>
 <url-pattern>/v1/*</url-pattern>
</servlet-mapping>
 <listener>
 	<listener-class>
        online.blickle.pi.init.PiwebServletContextListener
    </listener-class>
  </listener>
  <context-param>
       <param-name>online.blickle.pi.HardwareAccess</param-name>
       <param-value>online.blickle.pi.impl.HardwareController</param-value>
  </context-param>
  <context-param>
       <param-name>online.blickle.pi.PortConfiguration</param-name>
       <param-value>
{
  "portDescriptions": [
    {
      "description": "Licht Terasse",
      "id": "LICHT_TERRASSE",
      "isOutput": true,
      "raspPortNr": 0
    },
    {
      "description": "Steckdose Terasse",
      "id": "STECKDOSE_TERRASSE",
      "isOutput": true,
      "raspPortNr": 1
    },
    {
      "description": "Tueroeffner",
      "id": "TUEROEFFNER",
      "isOutput": true,
      "raspPortNr": 2
    },
    {
      "description": "Zirkulationspumpe",
      "id": "ZIRKULATIONSPUMPE",
      "isOutput": true,
      "raspPortNr": 3
    },
    {
      "description": "Rolladen Terasse",
      "id": "ROLLADEN_TERRASSE",
      "isOutput": true,
      "raspPortNr": 4
    },
    {
      "description": "Rolladen Sofa",
      "id": "ROLLADEN_SOFA",
      "isOutput": true,
      "raspPortNr": 5
    },
    {
      "description": "Rolladen Mitte",
      "id": "ROLLADEN_MITTE",
      "isOutput": true,
      "raspPortNr": 6
    },
    {
      "description": "Rolladen Richtung",
      "id": "ROLLADEN_RICHTUNG",
      "isOutput": true,
      "raspPortNr": 7
    },
    {
      "description": "Licht Treppe",
      "id": "LICHT_TREPPE",
      "isOutput": true,
      "raspPortNr": 24
    },
    {
      "description": "Heizung Standby",
      "id": "HEIZUNG_STANDBY",
      "isOutput": true,
      "raspPortNr": 25
    },
    {
      "description": "Output 8",
      "id": "OUTPUT_8",
      "isOutput": true,
      "raspPortNr": 22
    },
    {
      "description": "Output 9",
      "id": "OUTPUT_9",
      "isOutput": true,
      "raspPortNr": 23
    },
    {
      "description": "Taster Aussen",
      "id": "TASTER_AUSSEN",
      "isOutput": false,
      "raspPortNr": 8
    },
    {
      "description": "Bewegungsmelder Einfahrt",
      "id": "BEWEGUNGSMELDER_EINFAHRT",
      "isOutput": false,
      "raspPortNr": 10
    },
    {
      "description": "Bewegungsmelder Terrasse",
      "id": "BEWEGUNGSMELDER_TERRASSE",
      "isOutput": false,
      "raspPortNr": 9
    },
    {
      "description": "Schalter Wohnzimmer",
      "id": "SCHALTER_WZ",
      "isOutput": false,
      "raspPortNr": 11
    },
    {
      "description": "Input 4",
      "id": "INPUT_4",
      "isOutput": false,
      "raspPortNr": 12
    },
    {
      "description": "Input 5",
      "id": "INPUT_5",
      "isOutput": false,
      "raspPortNr": 13
    },
    {
      "description": "LAN Status",
      "id": "LAN_STATUS",
      "isOutput": false,
      "raspPortNr": 14
    },
    {
      "description": "Input 7",
      "id": "INPUT_7",
      "isOutput": false,
      "raspPortNr": 15
    }
  ]
}</param-value>
  </context-param>
</web-app>